################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Witchcraft/WitchcraftEngine/x64/Debug
/Witchcraft/3rdpartd
/Witchcraft/.vs
/Witchcraft/x64/Debug
/.agents/skills
/.kun-canvas/code-thr_6684aa962b6045bdadabf2c49eab2614
/.vs
/Witchcraft/WitchcraftEngine/x64/Release
/Witchcraft/x64/Release
/Witchcraft/WitchcraftEngine_ProjectAnalysis.md
/WitchcraftEngine_ProjectAnalysis.md
/Witchcraft/WitchcraftEngine/ASSETS/ImportedAssets
/Witchcraft/WitchcraftEngine/ASSETS/Models/2.glb
/Witchcraft/WitchcraftEngine/ASSETS/Models/CBBEtest.glb
/Witchcraft/WitchcraftEngine/ASSETS/Models/J15BT-va4.glb
/Witchcraft/WitchcraftEngine/ASSETS/Models/Sponza.glb
/Witchcraft/WitchcraftEngine/ASSETS/Models/无标题.glb
/Witchcraft/WitchcraftEngine/ASSETS/Models/閻魔あい.glb
/Witchcraft/WitchcraftEngine/ASSETS/Models/骨骼测试.glb
/Witchcraft/WitchcraftEngine/D3D实现架构.mmd
/Witchcraft/WitchcraftEngine/WitchcraECS.mmd
/Witchcraft/WitchcraftEngine/引擎架构.mmd
/Witchcraft/WitchcraftEngine/ASSETS/Models/pbr
/Witchcraft/WitchcraftEngine/DATA
